<div class="main">
	<nav class="p-3 ">
		<a routerLink="/learn">
			<svg-arrow-left class="icon mr-2 d-flex-column justify-content-center"></svg-arrow-left>
		</a>
	</nav>

	<div class="holder perfect-center" [ngClass]="{'no-transition': removeCard == 3}">
		
		<div class="card bg-white shadow d-flex-column" [attr.data-index]="dataIndex[0]" [ngClass]="{'removed': removeCard == 1, 'show': defShow, 'flipped': flipped}">
			<ng-container *ngTemplateOutlet="flipped ? cardnotes : cardcontent; context:oldWord"></ng-container>
		</div>
		
		<!-- Since show class is never added, definition cannot be shown on this card -->
		<div class="card bg-white shadow d-flex-column" [attr.data-index]="dataIndex[1]">
			<ng-container *ngTemplateOutlet="cardcontent; context:currWord"></ng-container>
		</div>
		
		<div class="card bg-white shadow" [attr.data-index]="dataIndex[2]"></div>
		<div class="card bg-white shadow" [attr.data-index]="dataIndex[3]"></div>
		
	</div>

	<div class="progress-box f14">
		<div class="row">
			<span class="desc text-white">Mastered</span>
			<div class="progress-line f12 w-75 ml-auto text-center py-1">
				<div class="line bg-green" [style.width]="counts.mp + '%'"></div>
				<span class="perfect-center">
					{{counts.mc}} out of {{section.words.length}} words
				</span>
			</div>
		</div>
		<div class="row">
			<span class="desc text-white">Reviewing</span>
			<div class="progress-line f12 w-75 ml-auto text-center py-1">
				<div class="line bg-yellow" [style.width]="counts.rp + '%'"></div>
				<span class="perfect-center">
					{{counts.rc}} out of {{section.words.length}} words
				</span>
			</div>
		</div>
		<div class="row">
			<span class="desc text-white">Learning</span>
			<div class="progress-line f12 w-75 ml-auto text-center py-1">
				<div class="line bg-red" [style.width]="counts.lp + '%'"></div>
				<span class="perfect-center">
					{{counts.lc}} out of {{section.words.length}} words
				</span>
			</div>
		</div>
	</div>
	
</div>


<ng-template #cardcontent let-wordIndex="wordIndex">
	<p class="pending f12 text-gray">{{pendingWords.length}} remaining</p>
	<button class="notes f18 perfect-center" (click)="flipCard()">
		<svg-notes class="icon"></svg-notes>
	</button>
	<div class="def perfect-center pt-4 px-2 lh-1-3">
		<p class="font-bold d-flex align-items-center word">
			<span class="icon-wrapper mr-2 perfect-center" (click)="readWord()" [ngClass]="{'speak': speakActive}">
				<svg-microphone class="icon perfect-center"></svg-microphone>					
			</span>
			<span>{{wordDefs[wordIndex].word}}</span>
		</p>

		<button class="f12 text-blue" (click)="showDef()">Show Definition <svg-chevron-up class="icon"></svg-chevron-up> </button>
		
		<p class="f12 mt-1 pronunciation"><em class="mr-1">{{wordDefs[wordIndex].type}}.</em>&#9679; {{wordDefs[wordIndex].pronunciation}}</p>
		<p class="f13 my-2 meaning">{{wordDefs[wordIndex].definition}}</p>
		
		<p class="f12 text-gray-dark example">Eg. <span [innerHTML]="italicizeEg(wordDefs[wordIndex])"></span></p>
	</div>
	
	<div class="actions">
		<button class="p-3 pl-4 text-white font-bold bg-gray" (click)="answer(-1)">I didn't know this word</button>
		<button class="p-3 pl-4 text-white font-bold bg-blue" (click)="answer(1)">I knew this word!</button>
	</div>
</ng-template>

<ng-template #cardnotes let-wordIndex="wordIndex">
	<div class="back d-flex-column">
		<button class="notes f18 perfect-center" (click)="flipCard()">+</button>
		<p class="py-4 border-bottom">Notes on <span class="text-red text-underline">{{wordDefs[wordIndex].word}}</span></p>
		<ul class="f14">
			<!-- TODO: Populate and add notes -->
			<li class="border-bottom" *ngFor="let n of wordDefs[wordIndex].notes; index as i">
				{{n}}
				<button class="delete" (click)="deleteNote(i)" title="Delete note">+</button>
			</li>
			<li class="border-bottom text-gray">
				<span class="mr-1">+</span>
				<form (ngSubmit)="addNote(noteForm.value)" #noteForm="ngForm">
					<input type="text" name="note" id="note" placeholder="Add a note" ngModel>
				</form>
			</li>
		</ul>
	</div>
</ng-template>
