<div class="main">
	<nav class="p-3 ">
		<div (click)="sharedService.goBack()">
			<svg-arrow-left class="icon mr-2 d-flex-column justify-content-center"></svg-arrow-left>
		</div>
	</nav>

	<!-- Card holder -->
	<div class="holder perfect-center" [ngClass]="{'no-transition': removeCard == 3}">
		
		<ng-container *ngIf="counts.mc != section.words.length">
			<div class="card bg-white shadow d-flex-column" [attr.data-index]="dataIndex[0]" [attr.data-answer]="answerVal" [ngClass]="{'removed': removeCard == 1, 'show': defShow, 'fullscreen': fullscreen}" (click)="showDef()" (touchstart)="touchstart($event)" (touchmove)="touchmove($event)"  (touchend)="touchend($event)" [ngStyle]="{'transform': 'translate(' + transform[0] + 'px, ' + transform[1] + 'px) rotate(' + transform[2] + 'deg)'}">
				<ng-container *ngTemplateOutlet="fullscreen ? cardnotes : cardcontent; context:oldWord"></ng-container>
			</div>
			
			<!-- Since show class is never added, definition cannot be shown on this card -->
			<div class="card bg-white shadow d-flex-column" [attr.data-index]="dataIndex[1]">
				<ng-container *ngTemplateOutlet="cardcontent; context:currWord"></ng-container>
			</div>
			
			<div class="card bg-white shadow" [attr.data-index]="dataIndex[2]"></div>
			<div class="card bg-white shadow" [attr.data-index]="dataIndex[3]"></div>
		</ng-container>
		
		<ng-container *ngIf="counts.mc == section.words.length">
			<p class="font-bold">You have completed this section!</p>
			<button class="br-50 font-bold bg-white text-red py-2 px-3 mt-4" (click)="resetSection()">Reset Section!</button>
			<p class="w-75 mt-2 f12">Warning: It will reset your progress for this section.</p>
		</ng-container>
		
		
	</div>

	<!-- Progress box -->
	<div class="progress-box f14">
		<div class="row">
			<span class="desc text-white">Mastered</span>
			<div class="progress-line f12 w-75 ml-auto text-center py-1">
				<div class="line bg-green" [style.width]="counts.mp + '%'"></div>
				<span class="perfect-center">
					{{counts.mc}} out of {{section.words.length}} words
				</span>
			</div>
		</div>
		<div class="row">
			<span class="desc text-white">Reviewing</span>
			<div class="progress-line f12 w-75 ml-auto text-center py-1">
				<div class="line bg-yellow" [style.width]="counts.rp + '%'"></div>
				<span class="perfect-center">
					{{counts.rc}} out of {{section.words.length}} words
				</span>
			</div>
		</div>
		<div class="row">
			<span class="desc text-white">Learning</span>
			<div class="progress-line f12 w-75 ml-auto text-center py-1">
				<div class="line bg-red" [style.width]="counts.lp + '%'"></div>
				<span class="perfect-center">
					{{counts.lc}} out of {{section.words.length}} words
				</span>
			</div>
		</div>
	</div>
	
</div>


<!-- Card Content -->
<ng-template #cardcontent let-wordIndex="wordIndex">
	<p class="pending f12 text-gray">{{pendingWords.length}} remaining</p>
	<button class="expand-icon f18 perfect-center" (click)="showFullscreen($event)">
		<svg-expand class="icon"></svg-expand>
	</button>

	<div class="def perfect-center pt-4 px-3">
		<p class="font-bold perfect-center word">
			<span class="icon-wrapper mr-2 perfect-center" (click)="readWord($event)" [ngClass]="{'speak': speakActive}">
				<svg-microphone class="icon perfect-center"></svg-microphone>					
			</span>
			<span>{{wordDefs[wordIndex].word}}</span>
		</p>

		<button class="f12 text-blue" (click)="showDef()">Show Definition <svg-chevron-up class="icon"></svg-chevron-up> </button>
		
		<p class="f12 mt-2 pronunciation"><em class="mr-1">{{wordDefs[wordIndex].type}}.</em>&#9679; {{wordDefs[wordIndex].phonetic}}</p>
		<p class="f13 my-2 meaning">{{wordDefs[wordIndex].definition}}</p>
		
	</div>
	
	<div class="actions">
		<button appWave class="p-3 pl-4 text-white font-bold bg-gray" (click)="answer(-1)">I didn't know this word</button>
		<button appWave class="p-3 pl-4 text-white font-bold bg-blue" (click)="answer(1)">I knew this word!</button>
	</div>
</ng-template>



<!-- Full screen -->
<ng-template #cardnotes let-wordIndex="wordIndex">
	<div class="back text-left p-3">
		<button class="expand-icon f18 perfect-center" (click)="showFullscreen($event)">+</button>

		<p class="f18 font-bold text-center pb-3 border-bottom">{{wordDefs[wordIndex].word}}</p>

		<div class="overflow-auto">
			<section class="row align-items-center pt-4">
				<span class="icon-wrapper mr-2 perfect-center" (click)="readWord($event)" [ngClass]="{'speak': speakActive}">
					<svg-microphone class="icon perfect-center"></svg-microphone>					
				</span>
				<div class="f14"><em class="mr-1">{{wordDefs[wordIndex].type}}.</em>&#9679; {{wordDefs[wordIndex].phonetic}}</div>
			</section>
	
			<section class="pt-4">
				<p class="font-bold">Definition</p>
				<p class="f13 pt-1">{{wordDefs[wordIndex].definition}}</p>
			</section>
	
			<section class="pt-4">
				<p class="font-bold">Example</p>
				<p class="f13 pt-1" [innerHTML]="italicizeEg(wordDefs[wordIndex])"></p>
			</section>
	
			<section class="pt-4">
				<p class="font-bold">Synonyms</p>
				<p class="f13 pt-1">{{splitString(wordDefs[wordIndex].synonyms)}}</p>
			</section>
	
			<section class="pt-4">
				<p class="font-bold">Origin</p>
				<p class="f13 pt-1">{{wordDefs[wordIndex].origin}}</p>
			</section>
	
			<section class="pt-4">
				<p class="font-bold">Notes</p>
				<ul class="f13 pt-1">
					<li class="" *ngFor="let n of wordDefs[wordIndex].notes; index as i">
						{{n}}
						<button class="delete" (click)="deleteNote(i)" title="Delete note">+</button>
					</li>
					<li class="text-gray">
						<span class="mr-1">+</span>
						<form (ngSubmit)="addNote(noteForm)" #noteForm="ngForm">
							<input type="text" name="note" id="note" placeholder="Add a note" class="w-100" autocomplete="off" ngModel>
						</form>
					</li>
				</ul>
			</section>
		</div>
	</div>
</ng-template>
