@import "../../../assets/variables.scss";

.home {
	// background: radial-gradient(#1488CCAA, #2B32B2AA);
	background-color: map-get($map: $colors, $key: "light");
	height: 100vh;
}

nav { position: fixed; }

.actions {
	height: 75vw;
	overflow: hidden;

	button {
		height: calc(75vw/2);
	}

	button.active {
		&:nth-child(1) { transform: translate(50%, 50%) scale(2); }
		&:nth-child(2) { transform: translate(-50%, 50%) scale(2); }
		&:nth-child(3) { transform: translate(50%, -50%) scale(2); }
		&:nth-child(4) { transform: translate(-50%, -50%) scale(2); }

		z-index: 1;
		transition: all 0.2s ease 0.3s;
	}

	h4 {
		// text-shadow: 0 2px 5px #00000082;
		margin: 0;
		color: white;
	}
	
	.icon {
		width: 2rem;
		margin-bottom: 0.5rem;
		fill: white;
		// filter: drop-shadow(0 2px 5px #00000082);
	}

	.third .icon, .fourth .icon { transform: scaleX(-1) }
}

.learn { background: linear-gradient(-45deg, rgba($color: map-get($my-colors, "green"), $alpha: 0.82), map-get($my-colors, "green")); }
.quiz { background: linear-gradient(45deg, rgba($color: map-get($my-colors, "red"), $alpha: 0.82), map-get($my-colors, "red")); }
.third { background: linear-gradient(-135deg, rgba($color: map-get($my-colors, "blue"), $alpha: 0.82), map-get($my-colors, "blue")); }
.fourth { background: linear-gradient(135deg, rgba($color: map-get($my-colors, "yellow"), $alpha: 0.82), map-get($my-colors, "yellow")); }