@import "../../../assets/variables.scss";

.logo {
	position: absolute;
    top: 15vh;
    font-size: 40px;
    color: #F9A825;
    text-shadow: 0 5px 11px #e91e6385;
}

.home {
	background: radial-gradient(#005C97, #363795);
	// background-color: map-get($map: $my-colors, $key: "purple");
	height: 100vh;
}

nav { position: fixed; }

.actions {
	
	.btn-wrapper { overflow: hidden; }
	
	button {
		height: calc(75vw/2);
		@include desktop { height: calc(75vw/6); }
		animation: translateX0 0.5s ease-out forwards;
	}

	h4 {
		margin: 0;
		color: white;
	}
	
	.icon {
		width: 2rem;
		margin-bottom: 0.5rem;
		fill: white;
		// filter: drop-shadow(0 2px 5px #00000082);
	}	
}

.learn { 
	background: linear-gradient(-45deg, rgba($color: map-get($my-colors, "red"), $alpha: 0.82), map-get($my-colors, "red")); 
	transform: translateX(37.5vw);
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
}
.quiz { 
	background: linear-gradient(45deg, rgba($color: map-get($my-colors, "yellow"), $alpha: 0.82), map-get($my-colors, "yellow")); 
	transform: translateX(-37.5vw);
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
}

@keyframes translateX0 {
	to { transform: translateX(0); }
}