<div class="home bg-blue perfect-center w-100">
	
	<h1 class="logo">Vocabbuddy</h1>
	
	<div class="row actions w-75 text-white">
		<a routerLink="/learn" class="btn-wrapper w-50" [ngClass]="{'active': activeBtn == 0}">
			<button appWave class="learn pointer w-100 shadow perfect-center">
				<svg-list-ul class="icon"></svg-list-ul>
				<h4>LEARN</h4>
			</button>
		</a>

		<a routerLink="/practice" class="btn-wrapper w-50" [ngClass]="{'active': activeBtn == 1}">
			<button appWave class="quiz pointer w-100 shadow perfect-center">
				<svg-quiz class="icon"></svg-quiz>
				<h4>PRACTICE</h4>
			</button>
		</a>
	</div>
</div>