<div class="main bg-red perfect-center">
	<nav class="row justify-content-between">
		<div (click)="sharedService.goBack()" class="p-3 pointer">
			<svg-arrow-left class="icon"></svg-arrow-left>
		</div>
		<p class="f12 text-white">{{remainingWords.length}} words remaining</p>
	</nav>
	
	<div class="card bg-white shadow" [ngClass]="{'animate': (animating || showScore)}">
		<ng-container *ngTemplateOutlet="card"></ng-container>
	</div>
	
	<div class="card bg-white shadow" [ngClass]="{'animate': animating}">
		<ng-container *ngTemplateOutlet="card"></ng-container>
	</div>
	
	<button appWave class="next shadow pointer" [ngClass]="{'show': showNext}" (click)="next()"><svg-chevron-up class="icon"></svg-chevron-up></button>
	
	<div class="score text-white" [ngClass]="{'show': showScore}">
		<p>Your score:</p>
		<h1 class="mt-2 mb-3">{{currentScore}}/{{section.words.length}}</h1>
		<a class="reload f12 bg-white font-bold py-1 px-3" (click)="ngOnInit()">Take test again !</a>
	</div>
</div>



<ng-template #card>
	<p class="py-3 bg-light">{{wordDefs[currentWord.wordIndex].word}}</p>
	<ul>
		<li *ngFor="let def of currentWord.defs; index as i" class="pointer" (click)="answer(i)" [ngClass]="{'wrong': answeredIndex == i, 'right': correctIndex == i}">{{def}}</li>
	</ul>
</ng-template>
