<div>
	<nav class="p-3 border-bottom f18 d-flex bg-green text-white">
		<div (click)="sharedService.goBack()" class="pointer perfect-center">
			<svg-arrow-left class="icon mr-2 d-flex-column justify-content-center"></svg-arrow-left>
		</div>
		Learn
	</nav>
	
	<ul>
		<a [routerLink]="section.name" *ngFor="let section of sections">
			<li [ngClass]="section.completeClass" class="row">
				<p class="w-50">{{section.name}}</p>
				
				<!-- SECTION NOT STARTED -->
				<div class="w-50 f11 row align-content-end" *ngIf="section.state == 0">
					<span class="tag ml-auto">Not Started</span>
				</div>
				
				<!-- SECTION STARTED -->
				<div class="w-50 f11 text-center" *ngIf="section.state == 1">
					<p>{{section.remainingWords}} remaining</p>
					<div class="mx-auto w-75 line">
						<div class="overlay" [ngStyle]="{'width': section.completePercent + '%'}"></div>
					</div>
				</div>
				
				<!-- SECTION COMPLETED -->
				<div class="w-50 f11 row align-content-end" *ngIf="section.state == 2">
					<span class="tag ml-auto completed">Completed</span>
				</div>
				
				<div class="cta-practice f12 pt-3 w-100" *ngIf="section.state == 2">
					<span></span>
					<a [routerLink]="'/practice/' + section.name" class="text-center">Take a Quiz!</a>
					<span></span>
				</div>
			</li>
		</a>
	</ul>
</div>