$font-title: 'Roboto Slab', serif;
$font-sizes: 10, 11, 12, 13, 14, 16, 18, 20, 22, 25, 30;

$colors: (
"white": #fff,
"gray": #6c757d,
"gray-dark": #343a40,
"primary": #007bff,
"secondary": #6c757d,
"success": #28a745,
"info": #17a2b8,
"warning": #ffc107,
"danger": #dc3545,
"light": #f8f9fa,
"dark": #343a40,
);

$sides: "top", "right", "bottom", "left";