/* You can add global styles to this file, and also import other style files */
@import "./assets/bootstrap-grid.min.css";
@import "./assets/variables.scss";
@import url("https://fonts.googleapis.com/css?family=Raleway:500|Roboto+Slab&display=swap");

html, body {
	font-family: 'Raleway', sans-serif;
	padding: 0;
	margin: 0;
	line-height: 1;
}

button { border: none }

a, a:focus {
	color: inherit;
	text-decoration: none;
	outline: none;
}

li:focus { outline: none }

.perfect-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.d-flex-column {
    display: flex;
    flex-direction: column;
}

.border { border: 1px solid lightgray }
@each $side in $sides {
	.border-#{$side} { border-#{$side}: 1px solid lightgray }
}

.br-5 { border-radius: 5px; }
.br-10 { border-radius: 10px; }
.br-25 { border-radius: 25px; }
.br-50 { border-radius: 50px; }
.br-100 { border-radius: 100px; }

.w-25 { width: 25%; }
.w-33 { width: 33%; }
.w-50 { width: 50%; }
.w-75 { width: 75%; }
.w-100 { width: 100%; }

.shadow { box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15); }

@each $i in $font-sizes {
	.f#{$i} { font-size: #{$i}px }	
}

@each $el, $hex in $colors {
	.bg-#{$el} { background-color: $hex }
	.text-#{$el} { color: $hex }
}

// .text-white { color: white; }