<div>
	<nav class="p-3 border-bottom f18 d-flex bg-red text-white">
		<div (click)="sharedService.goBack()" class="pointer">
			<svg-arrow-left class="icon mr-2 d-flex-column justify-content-center"></svg-arrow-left>
		</div>
		Practice
	</nav>
	
	<ul>
		<li class="row justify-content-between f14 pointer" *ngFor="let section of sections; index as i" (click)="navigateTest(i)">
			<p class="my-auto">{{section.name}}</p>
			<div class="f12 text-center">
				<p class="text-red mb-1">Best Score:</p>
				<p class="text-gray" *ngIf="section.score === undefined">Not Attempted</p>
				<p class="text-green" *ngIf="section.score !== undefined">{{section.score}} / {{section.words.length}}</p>
			</div>
			
			<div class="overlay perfect-center" *ngIf="section.isLocked == 1">
				<svg-lock class="icon"></svg-lock>
				Complete learning {{section.name}}
			</div>
		</li>
	</ul>
</div>